<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>195934459747-gvh4toilskg9dmfkiu3frsdeefe87hh6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.195934459747-gvh4toilskg9dmfkiu3frsdeefe87hh6</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ-LU9ydScEXf-X2y_X3gu2Uc_D-uz72Y</string>
	<key>GCM_SENDER_ID</key>
	<string>195934459747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Takatoshi-Miura.-12-NotificationTimer</string>
	<key>PROJECT_ID</key>
	<string>notificationtimer-70d41</string>
	<key>STORAGE_BUCKET</key>
	<string>notificationtimer-70d41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:195934459747:ios:9feab2ed783bad53c6e556</string>
	<key>DATABASE_URL</key>
	<string>https://notificationtimer-70d41.firebaseio.com</string>
</dict>
</plist>
